@model RatingService.Web.Models.SetRatingViewModel

@{
    ViewBag.Title = "Create";
}

<ul class="nav nav-tabs">
    @foreach (var ratingType in Model.RaitngTypes)
    {
        <li class=@(ratingType == Model.RatingType ? "active" : string.Empty)>@Html.ActionLink(ratingType, "Calculate", new { ratingType })</li>
    }
</ul>
<div class="tab-content">
    @using (Html.BeginForm("Calculate", "Rating", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>@Model.RatingType</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="model.RatingType" value="@Model.RatingType" />
            @{    var questions = Model.Questions.ToList();
            }
            @for (var i = 0; i < questions.Count; i++)
            {
                <div class="form-group">
                    <label for="question-@questions[i].Id">@questions[i].Text</label>
                    <div class="col-md-10">
                        <input type="hidden" name="model.Answers[@i].QuestionId" value="@questions[i].Id" />
                        <input type="text" id="question-@questions[i].Id" data-id="@questions[i].Id" class="form-control" name="model.Answers[@i].Result" />
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Calculate" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
